*{
    margin: 0px;
    font-family: "Courier Prime", monospace;

}
h1{
    background-color: teal;
    color: white;
    padding: 20px;
    text-align: center;
}
 h1 > span {
    font-size: medium;
    margin:0 50px;
 }
 h1>p{
     text-align: center;

 }
 p{
    margin:20px 200px;
    
 }
 div{
    margin: 0 auto;
    width: 700px;
 }
 h4{
    margin-top: 10px;
 }
 h2{
    margin: 14px auto;
 }
div > p {
    text-align: left;
    width: 800px;
    margin: 20px auto;
}

img {
    height: 225px;
    margin: 20px;
    border: 5px solid black;
}

p > img {
    float: left;
}
  p>span{
    font-weight: bolder;
    margin-right: 5px;
  }
  button{
    background-color: orange;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
  }